/* =~=~=~=~=~=~=~=~=~=~=~=~= Part A =~=~=~=~=~=~=~=~=~=~=~=~= */
/* Numbers 2-4 */

/* 2. Change the color to sky blue */
body{
   background-color: skyblue;
}
  
/* 3. Change the font for igottabeme element */
#igottabeme{
   font-family: "Arial", "Helvetica", "sans-serif";
}

/* 4. Change the left margin for elements whose attribute includes classy */
.classy {
  margin-left: 10px;
}


/* =~=~=~=~=~=~=~=~=~=~=~=~= Part B =~=~=~=~=~=~=~=~=~=~=~=~= */
/* Numbers 5-7 */

/* 5. Give DIV elements a bottom margin of 50px */
div {
  margin-bottom: 50px;
}

/* 6. SPAN elements: Width: 100px, height: 50px, padding: (top and btm: 5) and (left and right: 20px),
Solid Blue 5px border, and a yellow background */
span {
   width: 100px;
   height: 50px;
   padding: 5px 20px 5px 20px; /* Three values sets this properly, could also be done with 4 */
   border-style: solid;
   border-color: blue;
   background-color: yellow;
}

/* 7. Set class a to word wrap normally and height property should not work!
      Class b should appear stacked on top of each other
      Class c the Spans should word wrap, but the height property should work. */
span.a {
   display: inline;
}

span.b {
   display: block;
}

span.c {
   display: inline-block;
}

/* =~=~=~=~=~=~=~=~=~=~=~=~= Part C =~=~=~=~=~=~=~=~=~=~=~=~= */

/* 8. Position Icons
   Cat icon should appear in front of elements and always be in the botton right corner.
   Dog must be 50 px to the left and 150 px above where it would have been initialy
   bird must appear in orange DIV. In front of text, 50 pixels below the top and 250 to the right of the left edge. */
 img[128px-Creative-Tail-Animal-cat.svg.png] {
   position: fixed; bottom: 0px; right: 0px;
   z-index: 100; 
   display: block;
}

img[alt=”dog icon”] {
    position: relative;
    left: 50px;
    top: 150px;
    display: block;
   
}

img[alt=”dog icon”] {
   
}



   
/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
